{% extends 'base.html' %}

{% block content %}

<ul class="mui-tabs__bar mui-tabs__bar--justified">
  <li class="mui--is-active"><a a href="/jargon" data-mui-toggle="tab" data-mui-controls="pane-justified-1">JARGON</a></li>
  <li><a a href="/forum" data-mui-toggle="tab" data-mui-controls="pane-justified-2">FORUM</a></li>
    <li><a a href="/trial" data-mui-toggle="tab" data-mui-controls="pane-justified-3">TRIAL</a></li>

</ul>
<!-- <div class="mui-tabs__pane mui--is-active" id="pane-justified-1">Pane-1 hveq </div> -->
<div class="mui-tabs__pane" id="pane-justified-2">Pane-2</div>
<ul class="mui-tabs__bar mui-tabs__bar--justified">
  <li><a a href="/define" data-mui-toggle="tab" data-mui-controls="pane-justified-1.1">DEFINITION</a></li>
  <li><a a href="/youtube" data-mui-toggle="tab" data-mui-controls="pane-justified-1.2">YOUTUBE</a></li>
  <li><a a href="/courses" data-mui-toggle="tab" data-mui-controls="pane-justified-1.2">COURSERA</a></li>
</ul>
{% endblock %}